.timeBlockTime {
    background-color: #565871;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 15%;
}
.timeBlockTime h1, h2 {
    color: #DDDEE3;
}
.timeBlockTime h1 {
    font-size: 5rem;
    margin: 0rem;
    padding: 0rem;
}

.timeBlockTime p {
    line-height: 0.5rem;
}