.clock {
    position: relative;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #dddee3;
}

.hand {
    position: absolute;
    background: #383b58;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transition: all 1s linear;
}

.hand.hour-hand {
    width: 6%;
    height: 20%;
    top: 28%;
    left: 48.85%;
    rotate: 135deg;
}

.hand.minute-hand {
    width: 6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    rotate: 0deg;
}