.Info {

}

.Info-header p {
  font-size: 1.2rem;

}

.Info-header h1 {

}


.Info-impressum {
    border-radius: 15px;
    background-color: var(--box-default-color);
    padding: 10px;
}

.Info-impressum h1,li,p{
   
    color: var(--textOrIcon-color);
}
.Info-impressum p, li{
    font-size: 1.2rem;
    
}

.Info-FAQ {
    margin: 10px;
   border-radius: 15px;
   padding: 10px;
   background-color: var(--box-default-color);
}

.Info-FAQ h1 {
    color: var(--textOrIcon-color);
}
.Info-FAQ p {
    font-size: 1.2rem;
}


