.timeBlockActivity {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 15%;
}
.timeBlockActivity h2 {
    color: #DDDEE3;
}

.timeBlockActivity p {
    line-height: 0.5rem;
}